.navbar {
    height:50px;
    width: 100%;
    background-color: rgb(23, 154, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_link_ul {
    list-style: none;
    display: flex;
   

}

.nav_link-item {
    margin: 0;
    
}
.nav-link {
    text-decoration: none;
    padding: 3px 10px 0px 10px ;
    font-size: 20px;
    color: aliceblue;
    
}

.nav_link-icon {
    font-size: 30px;
    margin-left: -25px;
    color: aliceblue;
}


.st_form {
    margin: 140px;
}

.st_title {
    margin-top: 20px;
    text-align: center;
    color: rgb(46, 91, 146);
    font-size: 40px;
    text-shadow: 3px 4px 3px rgb(124, 192, 222);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background {
    background-color: rgb(205, 227, 247);
    height: 750px;
}